@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;600&display=swap');

*{
    margin:0px ;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;

}
.sticky{
    position:sticky;
    top:0px;
    width: 100%;
    height: 116px;
    z-index: 20000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 1.5s ;

}

.logo{
    position: absolute;
    left: 10%;
}
.contact{
    position: relative;
}
.subrayado{
    position: absolute;
    width: 30px;
    height: 3px;
    left: 30%;
    top: 120%;
    background: #504DF2;
}
.display{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    flex-wrap: wrap;
}


.iconos a{
   margin: 10px;
}
.iconos {
    display: flex;
    position: absolute;
    right: 15%;
}
nav{
    display: flex;
    position: absolute;
    left:21%
}
nav a{
    text-decoration: none;
    color: white;
   margin:20px;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
   
    font-kerning:none;
    letter-spacing: 0px;
    font-weight: lighter;
    
}

span{
font-weight: 700;
}
.stickyScroll{
    backdrop-filter:blur(15px);
    transition-property: background-color, backdrop-filter;
    transition-duration: 2s;
 
    background-color:  rgba(34,34,34,0.5);
    border:3px;
    z-index: 213123123123;
}
body{
   
    background-color: #222222;
    position: relative;
    min-height: 100vh;
   
}
h1{
    font-family: 'Poppins',sans-serif;
    color: white;
font-style: normal;
font-weight: bold;
font-size: 110px;
line-height: 165px;
padding: 0px 0px 0px 130px;
}
main p{
    font-family: 'PT Serif',serif;
font-style: italic;
font-weight: normal;
font-size: 36px;
line-height: 48px;
color: white;
margin: 0px 0px;

}
#parrafo{
    font-family: 'PT Sans',sans-serif;
font-style: italic;
font-size: 26px;
line-height: 34px;
color: white;
padding: 20px 40% 0px 130px;
}
#parrafo2{
    font-family: 'PT Sans',sans-serif;
    font-style: italic;
    font-size: 26px;
    line-height: 34px;
    color: white;
    padding: 0px 40% 0px 130px;
}
main div p{
    font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 30px;
}
main{
    
   padding: 50px 0px 150px 0px;

    width: 100%;
}
footer{
    height: 130px;
    background-color: #504DF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
.navito{
    left:40%;
}
.logitor{
    top:43%
}
.footerIconos{
    right: 5%;
}
.subrayado3{
    position: absolute;
    width: 30px;
    height: 3px;
    left: 27%;
    top: 109%;
    background: white;

}
main div{
    height: 55px;
    width: 380px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5% 130px;
    background-color: #504DF2;
}
main div:hover{
    background-color:dimgrey;
}
#primerParrafo{
    padding: 0px 300px 0px 130px;
}
