@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@1,400;1,700&family=Poppins:wght@400;600&display=swap');
*{
    margin:0px ;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
}
.sticky{
    position:sticky;
    top:0px;
    width: 100%;
    height: 116px;
    z-index: 20000000;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.logo{
    position: absolute;
    left: 10%;
}
.subrayado{
    position: absolute;
    width: 40px;
    height: 3px;
    left: 24%;
    top: 76px;
    background: #504DF2;
}
.display{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    flex-wrap: wrap;
}
header{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.iconos a{
   margin: 7px;
}
.iconos {
    display: flex;
    position: absolute;
    right: 15%;
}
nav{
    display: flex;
    position: absolute;
    left:21%
}
nav a{
    text-decoration: none;
    color: white;
   margin:20px;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    font-kerning:none;
    letter-spacing: 0px;
    font-weight: lighter;
}

span{
font-weight: 700;
}
.stickyScroll{
    backdrop-filter: blur(15px);
    transition-property: background-color, backdrop-filter;
    transition-duration: 3s;
    position: fixed;
    background-color:  rgba(34,34,34,0.5);
    border:3px;
    z-index: 21321381263127321639129739213;
}
body{
    
    background-color: #222222;
   
    
}
main{
    position: absolute;
    top:100vh;
    width: 100%;
    
}
.contactAss{
    height: 556px;
    background-color: #303030;
   
}
.contactAss{
    display: flex;
    align-items: center;
   justify-content: center;
    position: relative;
    
}
.cargaMas{
    width: 226px;
    height: 55px;
    border: 2px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.aboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 130px 90px 100px 10%;
    
}
.aboutUs p{
    
font-family: 'PT Sans', sans-serif;
font-style: italic;
font-weight: 400;
color: white;
font-size: 22px;
line-height: 34px;
}
.aboutUs div p{
    font-family: 'PT Serif',serif;
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    line-height: 48px;
    color: white;
    margin:25px;

}

.aboutUs div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top:130px;
    left:10%;
}
.contactUs{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 0px;
}
.contactUs p {
    font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 39.095px;
color: white;

}
.sis{
    color:white;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    background-color:#504DF2; 
}
.sis:hover{
    background-color:rgba(112, 110, 110, 0.8);
}
.mask{
    background-image:url("../img/playroom.jpeg") ;
    background-size: cover;
    background-position-y: 30%;
   height: 100vh;
   opacity: 0.7;
   box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
}
.identify{
    position: absolute;
    color: white;
    left: 10%;
    top: 65%;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    z-index: 123213213 ;
}
.titulo{ 
position: absolute;
left: 10%;
color: white;
top: 65%;
font-family: 'Poppins',sans-serif;
font-weight: 400;
font-style: normal;
font-weight: bold;
font-size: 110px;
line-height: 165px;
z-index: 123213213 ;


}
.proyect{
position: absolute;
color: white;
left: 10%;
top: 88.5%;
font-family: 'PT Serif', serif;
font-weight: 400;
font-style: italic;
font-size: 24px;
line-height: 32px;
z-index: 123213213 ;

}
.subrayado2{
    position: absolute;
    width: 75px;
    height: 3px;
    left: 19.5%;
    top: 92.5%;
    background: #FFFFFF;
    z-index: 123213213 ;
}

a:hover{
    opacity: 0.8;
}
.iconos a{
    margin: 10px;
}
.contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0px 8%;
    flex-wrap: wrap;
}
.card2{
    padding-top: 10%;
}
.card3{
    padding-top: 2.5%;
}
#titPlay{
    padding: 9% 0px 0px 10%;
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    color: white;
}
#desPlay{
    padding: 2% 0px 0px 10%;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: white;
}
#desPlay2{
    padding: 0.6% 0px 0px 10%;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
    color: white;
}
.card p{
    font-family: 'PT Sans',sans-serif;
font-style: italic;
font-weight: normal;
font-size: 26px;
line-height: 34px;
color: white;
}
#segundo{
    font-family: 'PT Serif', serif;
    font-weight:400;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    color: white;

}
.card img{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}