@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@1,400;1,700&family=Poppins:wght@400;600&display=swap');


*{
    margin:0px ;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
}
.sticky{
    position:sticky;
    top:0px;
    width: 100%;
    height: 116px;
    z-index: 20000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.logo{
    position: absolute;
    left: 10%;
}
.subrayado{
    position: absolute;
    width: 40px;
    height: 3px;
    left: 24%;
    top: 76px;
    background: #504DF2;
}
.display{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    flex-wrap: wrap;
}


.iconos a{
   margin: 10px;
}
.iconos {
    display: flex;
    position: absolute;
    right: 15%;
}
nav{
    display: flex;
    position: absolute;
    left:21%
}
nav a{
    text-decoration: none;
    color: white;
   margin:20px;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    font-kerning:none;
    letter-spacing: 0px;
    font-weight: lighter;
}

span{
font-weight: 700;
}
.stickyScroll{
    backdrop-filter: blur(15px);
    transition-property: background-color, backdrop-filter;
    transition-duration: 3s;
    position: fixed;
    background-color:  rgba(34,34,34,0.5);
    border:3px;
    z-index: 21321381263127321639129739213;
}
body{
    
    background-color: #222222;
    
}
.mask{
    position: absolute;
    top:0px;
    max-height: 100vh;
    width: 88.9vw;
    height: 100vh;
    background-image:url("../img/principalNasty.png") ;
    background-size: cover;
    background-position-y: 30%;
    background-position-x:left;
   
    transition-property: transform;
    transition-duration: 1.5s;
    z-index: 3;
   
    
}
.nasty{
    transition-duration: 1.5s;

}


.gato{
    left:50%;
    background-image:url("../img/principalMandatos.png") ;
    z-index: 2 ;
    background-position-y: 50%;
    width: 100%;
    
    
}
.buller{
    background-image: url("../img/principalBuller.png");
    left:100%;
    z-index: 1;
    width: 100%;
}

.identify{
    position: absolute;
    color: white;
    left: 10%;
    top: 66%;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 26px;
    z-index: 123213213 ;
}
.titulo{ 
position: absolute;
left: 10%;
color: white;
top: 65%;
font-family: 'Poppins', sans-serif;

font-weight: bold;
font-size: 110px;
line-height: 165px;
z-index: 123213213 ;


}
.proyect{
position: absolute;
color: white;
left: 10%;
top: 88.5%;
font-family: 'PT Serif', serif;
font-style: italic;
font-size: 24px;
line-height: 32px;
z-index: 123213213 ;

}
#see{
    background-color: rgba(0, 0, 0, 0.15);
    height: 100vh;
    position: absolute;
    top:0;
    width: 100%;
    z-index: 23;
   
}
.subrayado2{
    position: absolute;
    width: 75px;
    height: 3px;
    left: 12.5%;
    top: 92.5%;
    background: #FFFFFF;
    z-index: 123213213 ;
}
.flecha{
    position: absolute;
    right: 8.5%;
    top:41%;
    width: 105px;
    height: 105px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 4px #AEAEAE;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 123213213 ;
}
.flecha a{
    padding: 20px;
}
.flecha:hover{
    background-color: rgba(112, 110, 110, 0.8);
}
a:hover{
    opacity: 0.8;
}
main{
    position: absolute;
    top:110vh;
    width: 100%;
    
}
.proyects{
    margin: 5% auto;
}
.proyects p{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: white;
    text-align: center;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    margin:40px 4vw;
}
.central{
    padding: 8% 0px 0px 0px;
}
.card a:hover{
    opacity: 0.6;
}
.card img{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#rodo{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}



.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
}
.contenedor p{
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
}
#segundo{
    font-family: 'PT Serif',sans-serif;
    font-size: 18px;
    line-height: 24px;
}
.cargaMas p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;
}
.cargaMas{
    width: 226px;
    height: 55px;
    border: 2px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.cargaMas:hover{
    background-color: #504DF2;
    font-weight: bold;

}
.carGa{
    display: flex;
    justify-content: center;
}
.unaSection{
  display: flex;
 flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100vw;
}
.sectionCard{
    width: 33%;
    height: 615px;
    background-color: #333333;
    margin:1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
   
}

.padd{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 451px;
    text-align: center;
   
}
.padd a {
    text-decoration: none;
    color: aliceblue;
}
.padd a p:hover{
    opacity: 0.85;
    text-decoration: underline;
}
.padd p{
    font-family: 'PT Sans', sans-serif;
font-style: italic;
font-size: 20px;

}
#titlee{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 45px;  
    color: white;
    line-height: 63px;
    position: absolute;
    top:15%;
    margin:0px 100px;
    
}
#titlee2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 45px;  
    color: white;
    line-height: 63px;
    position: absolute;
    top:24%;
    margin:0px 100px;

}
#description{
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-size: 20px;
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    line-height: 26px;
    top:45%;
    margin: 0px 20%;
}
.padd div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 10%;
}
.padd div img{
    margin:15px;
}
.weWork{
    background-color: #222222;
    height: 504px;
   position: relative;
}
.ppp{
    padding: 0px 0px 0px 50px;
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    line-height: 48px;
    color: white;
    position: absolute;
    left:91px;
    top:17%;
}
.padWeWork{
    padding: 13% 120px 50px 131px;
   

}
.padWeWork ul{
   display: flex;
   flex-wrap: wrap;
}
.padWeWork li{
    margin: 3px 7px;
}
hr{
    width: 2px;
    height: 30px;
    text-align: center;
   
    background-color: #555555;
    border:2px solid #555555;
}
li{
    display: flex;
    align-items: center;
}
li p{
    font-family: 'Poppins', sans-serif;
    
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    color: white;
}
.contactAss{
    height: 556px;
    background-color: #303030;
}
.contactAss{
    display: flex;
    align-items: center;
    position: relative;
    
}
.aboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 130px 90px 100px 10%;
    
}
.aboutUs p{
    
    font-family: 'PT Sans', sans-serif;
font-style: italic;

color: white;
font-size: 22px;
line-height: 34px;
}
.aboutUs div p{
    font-family: 'PT Serif',serif;
    font-style: italic;
    font-size: 36px;
    line-height: 48px;
    color: white;
    margin:25px;

}

.aboutUs div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top:130px;
    left:10%;
}
.contactUs{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 0px;
}
.contactUs p {
    font-family: 'Poppins', sans-serif;
font-weight: bold;
font-size: 39.095px;
color: white;

}
.sis{
    color:white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;
    background-color:#504DF2; 
}
.sis:hover{
    background-color:rgba(112, 110, 110, 0.8);
}
footer{
    height: 180px;
    background-color: #504DF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
   position: relative;
}
.navito{
    left:40%;
}
.logitor{
    top:43%
}
.footerIconos{
    right: 5%;
}
.subrayado3{
    position: absolute;
    width: 40px;
    height: 3px;
    left: 43.4%;
    top: 106px;
    background: white;

}
#segundo{
    font-weight: 400;
    letter-spacing: 0.5;
}