@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@1,400;1,700&family=Poppins:wght@400;600&display=swap');


*{
    margin:0px ;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
   
}
.mask{
    overflow-x: hidden;
    
}
.sticky{
    position:fixed;
    top:0px;
    width: 100%;
    height: 116px;
    z-index: 20000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 1s ;
 
   
   
    
}
.logo{
    position: absolute;
    left: 10%;
}
#subra{
    display: flex;
    flex-direction: column;
    position: relative;
    
    margin: 0px 20px;
}
.subrayado{
    position: absolute;
    width: 40px;
    height: 3px;
    left: 38%;
    top: 83%;
    background: #504DF2;
    z-index: 213123123123124124123;
}
span{
    margin:21px;
}
.display{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    flex-wrap: wrap;
}


.iconos a{
   margin: 10px;
}
.iconos {
    display: flex;
    position: absolute;
    right: 15%;
}
nav{
    display: flex;
    position: absolute;
    left:21%
}
nav a{
    text-decoration: none;
    color: white;
   margin:20px;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    font-kerning:none;
    letter-spacing: 0px;
    font-weight: lighter;
}

span{
font-weight: 700;
}
.stickyScroll{
    backdrop-filter: blur(15px);
    transition-property: background-color, backdrop-filter;
    transition-duration: 3s;
    position: fixed;
    width: calc(100% - 18px);
    background-color:  rgba(34,34,34,0.5);
    border:3px;
    z-index: 21321381263127321639129739213;
}
body{
    
    background-color: #222222;
    
}
.mask{
    position: absolute;
    top:0px;
    max-height: 100vh;
    width: 87.5vw;
    height: 100vh;
    background-image:url("../img/Nasty_People.jpg") ;
    background-size: cover;
    background-position-y: 30%;
    background-position-x:left;
   
    transition-property: transform;
    transition-duration: 1.5s;
    z-index: 3;
   
    
}
.nasty{
    transition-duration: 1.5s;

}


.gato{
    left:40%;
    background-image:url("../img/Eva.jpg") ;
    z-index: 2 ;
    background-position-y: 50%;
    width: 100%;
    
   
}
.buller{
    background-image: url("../img/Buller.jpg");
    left:100%;
    z-index: 1;
    width: 100%;
}

.identify{
    position: absolute;
    color: white;
    left: 10%;
    top: 66%;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 26px;
    z-index: 123213213 ;
}
.titulo{ 
position: absolute;
left: 10%;
color: white;
top: 65%;
font-family: 'Poppins', sans-serif;

font-weight: bold;
font-size: 110px;
line-height: 165px;
z-index: 123213213 ;


}
.proyect{

color: white;

font-family: 'PT Serif', serif;
font-style: italic;
font-size: 24px;
line-height: 32px;
z-index: 123213213 ;

}

#see{
    background-color: rgba(0, 0, 0, 0.15);
    height: 100vh;
    position: absolute;
    top:0;
    width: 100%;
    z-index: 23;
   
}
.subrayado2{
    position: absolute;
    width: 75px;
    height: 3px;
    left: 2.6%;
    top: 90.9%;
    background: #FFFFFF;
    z-index: 123213213 ;

}
#proyectLink a{
    text-decoration: none;
}
#subra3{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 10%;
    top: 90.5%;
    z-index: 213213123123123123;
}
.flecha{
    position: absolute;
    right: 8.5%;
    top:41%;
    width: 135px;
    height: 135px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 5px #AEAEAE;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 123213213 ;
}
.flecha a{
    padding: 20px;
}
.flecha:hover{
    background-color: rgba(112, 110, 110, 0.8);
}
a:hover{
    opacity: 0.8;
}
#imaFle{
    width: 100%;
    height: 100%;
}
main{
    position: absolute;
    top:110vh;
    width: 100%;
}

.proyects{
    margin: 5% auto;
}
.proyects p{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: white;
    text-align: center;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    margin:40px 4vw;
}
.central{
    padding: 8% 0px 0px 0px;
}
.card a:hover{
    opacity: 0.6;
}
.card img{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#rodo{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}



.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
}
.contenedor p{
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
}
#segundo{
    font-family: 'PT Serif',sans-serif;
    font-size: 18px;
    line-height: 24px;
}
.cargaMas p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;
}
.cargaMas{
    width: 226px;
    height: 55px;
    border: 2px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.cargaMas:hover{
    background-color: #504DF2;
    font-weight: bold;

}
.carGa{
    display: flex;
    justify-content: center;
}
.unaSection{
  display: flex;
 flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100vw;
}
.sectionCard{
    width: 33%;
    height: 615px;
    background-color: #333333;
    margin:1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
   
}

.padd{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 451px;
    text-align: center;
   
}
.padd a {
    text-decoration: none;
    color: aliceblue;
}
.padd a p:hover{
    opacity: 0.85;
    text-decoration: underline;
}
.padd p{
    font-family: 'PT Sans', sans-serif;

font-size: 20px;

}
#titlee{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 45px;  
    color: white;
    line-height: 63px;
    position: absolute;
    top:15%;
    margin:0px 100px;
    
}
#titlee2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 45px;  
    color: white;
    line-height: 63px;
    position: absolute;
    top:24%;
    margin:0px 100px;

}
#description{
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-size: 20px;
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    line-height: 26px;
    top:45%;
    margin: 0px 20%;
}
.padd div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 10%;
}
.padd div img{
    margin:15px;
}
.weWork{
    background-color: #222222;
    height: 504px;
   position: relative;
}
.ppp{
    padding: 0px 0px 0px 50px;
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    line-height: 48px;
    color: white;
    position: absolute;
    left:91px;
    top:17%;
}
.padWeWork{
    padding: 180px 150px 50px 131px;
   

}
.padWeWork ul{
   display: flex;
   flex-wrap: wrap;
}
.padWeWork li{
    margin: 3px 7px;
}
hr{
    width: 2px;
    height: 30px;
    text-align: center;
   
    background-color: #555555;
    border:2px solid #555555;
}
li{
    display: flex;
    align-items: center;
}
li p{
    font-family: 'Poppins', sans-serif;
    
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    color: white;
}
.contactAss{
    height: 556px;
    background-color: #303030;
}
.contactAss{
    display: flex;
    align-items: center;
    position: relative;
    
}
.aboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 130px 90px 100px 10%;
    
}
.aboutUs p{
    
    font-family: 'PT Sans', sans-serif;
font-style: italic;

color: white;
font-size: 22px;
line-height: 34px;
}
.aboutUs div p{
    font-family: 'PT Serif',serif;
    font-style: italic;
    font-size: 36px;
    line-height: 48px;
    color: white;
    margin:25px;

}

.aboutUs div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top:130px;
    left:10%;
}
.contactUs{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 0px;
}
.contactUs p {
    font-family: 'Poppins', sans-serif;
font-weight: bold;
font-size: 39.095px;
color: white;

}
.sis{
    color:white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;
    background-color:#504DF2; 
}
.sis:hover{
    background-color:rgba(112, 110, 110, 0.8);
}
footer{
    height: 180px;
    background-color: #504DF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
   position: relative;
}
.navito{
    left:40%;
}
.logitor{
    top:43%
}
.footerIconos{
    right: 5%;
}
.subrayado3{
    position: absolute;
    width: 40px;
    height: 3px;
    background: white;
    left: 38%;
    top: 77%;
    z-index: 213123123123124124123;
}
#segundo{
    font-weight: 400;
    letter-spacing: 0.5;
}
.flechita{
    position: absolute;
    right: 8.5%;
    top:41%;
    width: 55px;
    height: 55px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px #AEAEAE;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 123213213 ;
}
.flechita a{
    padding: 10px;
    
}
.flechita:hover{
    background-color: rgba(112, 110, 110, 0.8);
}

body{
    overflow-x: hidden;
    position: absolute;
    top:0px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#menu{
    display: none;
}
#menuBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    transition-property: transform ;
    transition-duration: 1.5s;
    transform: translate(100%);
    z-index: 231421342342134132421342343432;
    overflow-x: hidden;
    overflow-y: scroll;
    visibility: hidden;
}
#scrolea{
    overflow-y: scroll;
}
#tituloss{
    padding: 10px 0px 140px 10%;
    overflow-y: hidden;
}
#titlss{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    display: flex;
    align-items: center;
    color:#504DF2
  
    
}
#titls{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
 }
#headerBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
}
#headerBar a{
    padding: 20px;
}
#redess{
    
    padding: 2% 0px 20% 10%;
    width: 100%;
    overflow-y: hidden;
}
#redess a{
    text-decoration: none;
    color: black;
}
#redess p:hover{
    opacity: 0.8;
}
#redess p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
   
}
#footer2{
    height: 337px;
    position: relative;
    background-color: #504DF2;
    display: none;
}
.navito2{
    flex-direction: column;
    position: absolute;
    left:5%;
}



 

main{
    top:100vh;
}
.proyects{
    display: none;
}
#workProyects{
    display: flex;
    
 
}
#workProyects div{
    display: flex;
    flex-grow: 1;
    overflow-y: hidden;
    position: relative;
  
}
#segundo11{
    position: absolute;
    width: 100%;
    top:50%;
    left: 40%;
    font-family: 'PT Sans',sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
}
#segundo11:hover{
    text-decoration-line: underline;
}
#segundo22{
    position: absolute;
    width: 100%;
    top:20%;
    left: 35%;
    font-family: 'PT Sans',sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
  
    
}
#segundo22:hover{
    text-decoration-line: underline;
}
#segundo23{
    position: absolute;
    width: 100%;
    left: 40%;
    top:25%;
    font-family: 'PT Serif',serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
}
#workProyects a{
    overflow-y: hidden;
    color: rgba(0, 0, 0, 0);
}
#segundo12{
    position: absolute;
    width: 100%;
    left: 47%;
    top:55%;
    font-family: 'PT Serif',serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
}

#segundo44{
    position: absolute;
    width: 100%;
    top:70%;
    left: 40%;
    font-family: 'PT Sans',sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
   
    
}
#segundo44:hover{
    text-decoration-line: underline;
}

#segundo45{
    position: absolute;
    width: 100%;
    left: 40%;
    top:75%;
    font-family: 'PT Serif',serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
}
#segundo33{
    position: absolute;
    width: 100%;
    top:45%;
    left: 35%;
    font-family: 'PT Sans',sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    
    
}
#segundo33:hover{
    text-decoration-line: underline;
}
#segundo34{
    position: absolute;
    width: 100%;
    left: 20%;
    top:50%;
    font-family: 'PT Serif',serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
}

#workProyects a:hover{
    
    color: white;
}
#workProyects img:hover{
    opacity: 0.5;
}

#img1{
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 1.5s;
    width: 100%;
    height: 100%;
}
#img2{
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 2s;
    width: 100%;
    height: 100%;
}
#img3{
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 2.5s;
    width: 100%;
    height: 100%;
}
#img4{
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 3s;
    width: 100%;
    height: 100%;
}

#columnaa{
    display: flex;
    flex-direction: column;
  
}
.contenedor a{
    width: 100%;
}
.column{
    width: 100%;
}
.card{
    width: 100%;
}
.card img{
    width: 100%;
}
.card p{
    padding: 0px 0px 0px 5%;
}

.contactAss{
    background-color: #222222
}
.stickyScroll{
    width: 100%;
}
#corporate{
    height: 364px;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}
#corporate1{
    padding: 0px 0px 0px 38%;
    font-family: 'PT Serif',serif;
    font-style: italic;
    font-size: 23px;
    
    color: #999999;
}
#corporate2{
    
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    
    color:white;
}
#plantilla{
    height: 100%;
    overflow-y: scroll;
    
}
#fixea{
    position:fixed;
    width: 80vw;
    height: 80vh;
    left:10%;
    top: 10%;
    display: flex;
    z-index: 122341234124213412342123123421342342134234213412342341234123434;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
   
}
#dosCruz{
    position: fixed;
    right: 1%;
    top:1%;
   z-index: 4324123412413241324124;
   display: none;
}
#fixea img{
    overflow-y: scroll;
    margin:5px;
}
.haceFlex{
    display: flex;
  
}



@media all and (max-width:750px){
    .mask{
        width: 100%;
        height: 100vh;
        background-size:300%;
        background-repeat: no-repeat;
        background-position-x: center;
    }
    #menu{
        display: inline;
        position: absolute;
        right: 5%;
    }
    .logo{
        left:5%
    }
  
    .gato{
        left:55%;
    }
    .buller{
        left:110%;
        background-size:cover;
    }
    .sticky{
        height: 76px;
    }
    .iconos{
        display: none;
    }
    .stickyScroll{
        width: 100%;
    }
    .display nav{
        display: none
    };
    .identify{
        font-size: 16px;
    line-height: 21px;
    top:76%
    }
    .titulo{
        font-size: 48px;
        line-height:72px;
        top:70%
    }
    .proyect{
        font-size: 16px;
        line-height: 21px;
      
    }
    .subrayado2{
        width: 6%;
        left:10%
    }
    .unaSection{
        flex-direction: column;
        align-items: center;
    }
    .sectionCard{
        width: 90%;
        margin:5px 2%;
    }
    .padWeWork li p{
        font-size: 18px;
        line-height: 25px;
        
    }
    .padWeWork{
        padding: 170px 5% 50px 10%;
    }
    .padWeWork li{
        margin: 2px 4px;
    }
    .ppp{
        font-size: 24px;
        line-height: 30px;
        padding: 0px;
        left:10%;
        top:100px;
    }
    hr{
        height: 18px;
        width: 1.5px;
        border: 1.5px solid #555555;
    }
    
    .weWork{
        height: 409px;
    }
    #workProyects{
        display: none;
    }
    .proyects{
    display: block;
    }
    #corporate{
        height: 250px;
    }
    #corporate1{
        padding: 0px 0px 0px 32%;
        font-size: 18px;
    }
    #corporate2{
        font-size: 24px;
    }
    .proyects{
        margin:0px;
    }
    .quit{
        margin:0px;
    }
    .card{
        margin:20px 0px;
    }
    .haceFlex{
        flex-wrap: wrap;
      
    }
    
    
   
}
@media all and (max-width:1100px){
    .contactAss{
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        }
        .contactUs{
            align-items: flex-start;
            padding: 0px 0px 80px 10%;
        }
        .contactUs p{
            line-height: 45px;
            overflow-y: hidden;
        }
    .aboutUs div{
        top: 80px
    }
    .aboutUs p{
        
        font-size: 18px;
        line-height: 24px;
        font-weight: normal;
    }
    .aboutUs{
        padding:  130px 70px 0px 10%;;
    }
    .aboutUs div p{
        font-size: 24px;
        line-height: 32px;
    }
    .cargaMas{
        width: 80vw;
    }
    .sis{
        font-weight: bold;
    }
    .carGa{
        padding: 20px 0px 0px 0px;
    }
    .weWork{
        height: 100%;
    }
}


@media all and (max-width:900px){
footer{
        display: none;
    }
    #footer2{
        display: block;
    }
    .logitor{
        top:68%;
        left:9%;
    }
    #seco{
        margin:10px;
    }
    #queso{
        margin:10px;
        
    }
    #subra22{
        
            display: flex;
            flex-direction: column;
            position: relative;
            
            margin: 0px 20px;
        
        overflow-y: hidden;
        margin:0px
    }
    .navito2{
        top:50px
    }
    .subrayado3{
        left: 35%;
        top: 35px;
        
    }
    .iconos2{
        display: flex;
        flex-direction: column;
        position: absolute;
        left:60%;
        top:55px;
    }
    .iconos2 a{
        margin:10px;
    }
}  
@media all and (max-width:370px){
    .titulo{
        font-size: 38px;
        
        top:70%
    }
}
@media all and (max-width:310px){
    .gato{
        background-size: 400%;
    }
}
@media all and (min-width:1600px){
    .flecha{
        right: 10%;
    }
}